h2 {   
color: white;   
margin-left: 20px; 
border-style: dotted;
border-color: white;
border-width: 1em;
border-radius: 10% / 50%;
}

h3 {
  color: #999999; /*Gray-ish color*/
  margin: 10px;
}

header {
  margin: auto
}

  
