h1 {
  text-decoration: underline;
  text-align: center;
  display: inline;
}

h2 {   
   color: white;   
   margin: auto; 
   border-style: solid;
   border-color: white;
   border-width: 1em;
   border-radius: 10px;
   height: 6em;
}

h3 {
  color: #999999; /*Gray-ish color*/
  margin: 10px;
  display:grid;
}

header {
  margin: auto
}

.box{
    border-style: dashed;
    border-width: 15px;
    border-radius: 15px;
    border-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;

}

#Encounter{
 color: blue;
}

* { 
font-family: 'Roboto', sans-serif;
}
  
.audio{
    font-style: italic;
    font-size: 3cm ;
    width: 20em;
    position:relative;
}

a[href*="linkedin"] {
  background-color: silver;
}

button:hover {
  color: red;
}

button:active {
  color: purple;
}

.video{
    font-weight: bold;
    font-size: 1in ;
}

.survey{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

video, img{
    left:25%; 
    width:50%;
    margin: auto;
    position:static; 
    max-width: 20ch;
    min-width: 5ch;
}

div.byebox{
    font-size: x-large;
}

ul li{
    background-color: hsla(30, 50%, 25%, .3);;
}

ol > li {
    font-size: larger;
}

div ~ div {
    font-style: bold;
}

div + div{
    color: purple;
}

@media (any-hover: hover) {
  a:hover {
    background: green;
  }
}






